*{
 margin: 0;
 padding: 0;
    box-sizing: border-box;
}
body,html{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: 100vh; */
    /* background: #d3a94e; */
}
.Drag-area{
    border:2px dashed#fff;
    width: 330px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
}
.Drag-area{
    border: 2px dashed #fff;
}
.Drag-area .icon{
    font-size: 100px;
    color: #fff;
}
.Drag-area header{
    font-size: 25px;
    color: #fff;

    font-weight: 500;
}
.Drag-area span{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin: 10px 0 20px 0;
}
.Drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background:#fff;
    border-radius: 6px;
    color: #ffbb2a;
    cursor: pointer;
}
